

<div class="content" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%" fxLayout=" wrap">
  

  <div class="dashboard-card" fxFlex="100%" fxFlex.sm="100%" fxFlex.xs="100%">
    <h1 id="dash">Dashboard</h1>

  </div>

 


<div class="dashboard-card" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
  
  <mat-card id="cards1">
  <mat-card-content>
    <img src="assets/img/storage.png" alt="" srcset="">
    <span>Storage</span>
   <!--  <h1>10000 GB</h1> -->
  </mat-card-content>
  </mat-card>

</div>

<div class="dashboard-card2" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">

  <mat-card id="cards2">
  <mat-card-content><img src="assets/img/rev.png" alt="" srcset=""><span>Revenue</span>
  <!--  <h1>$ 87,000</h1> -->
  </mat-card-content>
  

  </mat-card>

</div>

<div class="dashboard-card3"  fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
  
  <mat-card id="cards3" >
  <mat-card-content>
    <img src="assets/img/fic.png" alt="" srcset="">
    <span>Fix Issues</span>
    <!-- <h1>85%</h1> -->
  </mat-card-content>
  </mat-card>

</div>


<div class="dashboard-card4" fxFlex="25%" fxFlex.sm="50%" fxFlex.xs="100%">
  <mat-card id="cards4">
  <mat-card-content><img src="assets/img/follow.png" alt="" srcset=""><span>Followers</span>
    <!-- <h1>100,000 PEOPLE</h1> -->
  </mat-card-content>
  </mat-card>

</div>

<div class="dashboard-chart1" fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
  <mat-card id="chart1">
  <mat-card-content><app-my-line-chart></app-my-line-chart>
  </mat-card-content>
  </mat-card>

</div>

<div class="dashboard-chart2" fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
  <mat-card id="chart2">
  <mat-card-content><app-bar></app-bar></mat-card-content>
  </mat-card>

</div>

<div class="dashboard-chart2" fxFlex="33%" fxFlex.sm="50%" fxFlex.xs="100%">
  <mat-card id="chart3">
  <mat-card-content><app-linetwo></app-linetwo></mat-card-content>
  </mat-card>

</div>

<div class="dashboard-chart4" fxFlex="100%" fxFlex.sm="50%" fxFlex.xs="100%">
  <mat-card id="chart4">
  <mat-card-content><app-table></app-table></mat-card-content>
  </mat-card>

</div>


</div>